.banner-area{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    
}
.menu-area{
    position: static;
    
}
.mega-area{
    background-color: lightgrey;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}
.dropdown-item{
    padding: 5px 0;
}
h5{
    color: #ff2e63;
}
h5:hover{
    color: black;
}